h2 {
    margin-top: 1.7rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}
.cards {
    margin-bottom: 5rem;
}
.card.hide {
    display: none!important;
}

.image {
    position: relative;
    background: rgba(255, 255, 255, 1) !important;
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.image:before {
    content: "";
    display:block;
    margin-top:100%;
}

.sponsors-container {
    margin-bottom: 5rem;
    .sponsor {
        display: inline-block;
        > div {
            padding: 7px 12px;
            .logo { 
                background: url(http://london.apidays.io/img/bg-block-logo.png) left top no-repeat;
                height: 155px;
                width: 181px;
                display: flex;
                justify-content: center; /* align horizontal */
                align-items: center; /* align vertical */
                img { max-width: 160px; max-height: 140px }
            }
            p {
                margin-top: 15px;
            }
        }
    }
}