.menu-top {
    width: 100%;
    background-color: #FFF;
    z-index: 100;
    border-bottom: 2px solid #EEE;
    a { cursor: pointer; position: relative; top: 2px; padding: 12px 18px 5px; display: inline-block; color: #333 }
    a:hover { border-bottom: 2px solid #AAA; }
    a.active { border-bottom: 2px solid #666 }
    a.active:hover { border-bottom: 2px solid #666 }
    i { margin-right: 5px }
}

.menu-top.center {
    text-align: center;
}

.menu-top.fixed {
    position: fixed;
}